<header id="header">
  <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a routerLink="/home" class="logo"><img src="assets/img/menu/logo.png" alt="Shargame" width="78" height="78"></a>
            <nav class="nav">
              <ul>
                <li >
                  <a routerLink="/home">Home</a>
                </li>
                <li class="mega-menu mega-games">
                  <a routerLink="/home">Jeux</a>
                 <!--  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="assets/img/menu/menu-1.jpg" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="assets/img/menu/menu-2.jpg" alt="Injustice 2"></a>
                              <span class="badge badge-xbox-one">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="assets/img/menu/menu-3.jpg" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="assets/img/menu/menu-4.jpg" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="assets/img/menu/menu-5.jpg" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li> -->
                <li >
                  <a routerLink="/home">Bibliothèque</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down" *ngIf="isLogged"><a routerLink="/profile">{{userLogged}}</a></li>
              <li class="hidden-xs-down" *ngIf="!isLogged"><a routerLink="/login">Login</a></li>
              <li class="hidden-xs-down" *ngIf="!isLogged"><a routerLink="/register">Inscription</a></li>
              <li class="hidden-xs-down" *ngIf="isLogged" (click)="logout()"><a routerLink="">Deconnexion</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Recherche...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
<router-outlet></router-outlet>
